@*@using _3._13Routing
@using _3._13Routing.Models
@model ViewModel

@*<table class="table table-bordered table-striped table-hover" id="ptable" name="table">
    <tr>
        <th>Number</th>
        <th>Upvote Button</th>
        <th>Details</th>
    </tr>



    <tr>
        <td>@(ViewBag.Counter)</td>
        <td><a href="/home/upvote?postId=@Model.User.Id">&#9650;</a></td>
        <td>

            @*if want to show host name and populate list by host name
                <a href="/home/hostname?hostName=@Model.User.URLHostName">

            <span style="display:block">
                <a href="@Model.link.Url">@Model.User.UserName</a>
            </span>
            <span>@Model.Upvotes.Count() points by <a href="/home/users?userId=@Model.User.Id">@Model.User.UserName</a> <time class="timeago" datetime="@Model.Date">@Model.Date</time></span>
        </td>
    </tr>

</table>